.color-preview{
    height: 21px;
    width: 21px;
    border: 1px solid #000;
    float: left;
    margin-right: 15px;
}

.list-view{

}

.list-item {
    border: 1px solid #7d7d7d;
    padding: 5px 5px 10px;
    margin-bottom: 5px;
}

.stat p {
    padding: 5px;
    margin: 3px;
}